*{
background:url(../images/фон.jpg);
}
#vse{
width:100%;
height:100%;
}
#content{
right:0;
float:right;
padding-right:80px;
}

#text{
margin-top:5px;
margin-bottom:3px;
padding-left:312px;
}

#otpr{
float:right;
}

h3{
margin-bottom:3px;
}

textarea{
resize:none;
}

a{
text-decoration:none;
}

#dr{
margin-top:2px;
}

#bor{
border:1px solid black;
}

#navig{
width:300px;
margin-left:-40px;
background:#fff;
}
#navig ul{
list-style:none;
}
#navig li{
list-style:none;
display:block;

}
#navig li a{
list-style:none;
display:block;
color:#fff;
font-size:20px;
color:#212121 ;
text-decoration:none;
padding:5px 5px 5px 5px;
}
#navig li a:hover{
background:#5E5E5E;
color:#fff;
text-decoration:none;
}
